/* navbar */

#navbar {
    position: static;
}

#navbar .logo {
    float: none;
    text-align: center;
}

#navbar ul,
#navbar ul li {
    float: none;
}

#navbar ul li a {
    padding: 5px;
    border-bottom: #444 1px dotted;
}

/* showcase */

#showcase {
    height: 100px;
}

.text-primary {
    font-size: 40px;
    padding-top: 50px;
}

#showcase {
    height: 450px;
}

#showcase .btn {
    margin-top: 10px;
}

/* home-info */

#home-info .info-content {
    float: none;
    width: 100%;
}

#home-info .home-img {
    display: none;
}

#home-info h2 {
    font-size: 25px;
    line-height: 2rem;
    margin-top: 20px;
}

#home-info p {
    padding: 5px 10px;
    text-align: justify center;
}

.btn-lite {
    margin-top: 2spx;
}

/* feature section */

.box {
    float: none;
    width: 100%;
    height: 255px;
    padding-top: 40px;
}

.box p {
    margin: 10px;
    font-size: 20px;
}

/* About page */

#about-info {
    height: 665px;
}

#about-info .info-right,
#about-info .info-left {
    float: none;
    width: 100%;
}

#about-info .text-secondary {
    margin-top: 0px;
    text-align: center;
}

#about-info .info-right {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
}

#about-info .info-right img {
    width: 90%;
}

#about-info p {
    font-size: 18px;
    margin-bottom: 0px;
}

/* testimonials */

#testimonials {
    height: 100%;
}

#testimonials .testimonial p {
    font-size: 18px;
}

/* Contact Page */

#contact-form .contact-container {
    padding-top: 40px;
}

#contact-form .text-ternary {
    text-align: center;
}

#contact-form .btn-align {
    text-align: center;
}

#feature .box-1 {
    float: none;
    width: 100%;
    border-bottom: white dotted 1px;
}